body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: hsl(170, 71%, 61%)
}

.title {
    text-align: center;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: hsl(168, 5%, 20%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#demo {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    font-style: italic;
    color: hsl(168, 5%, 20%);
    letter-spacing: 1px;
}

.piano {
    width: 305px;
    height: 210px;
    display: block;
    margin: 0 auto;
    background-color: hsl(108, 100%, 72%);
    margin-top: 30px;
}

.key {
    width: 30px;
    height: 200px;
    display: inline-block;
    color: hsl(0, 0%, 0%);
    background-color: hsl(120, 3%, 87%);
    box-shadow: 2px 5px;
    border: solid hsl(0, 0%, 0%) 2px;
}

.keynote {
    text-align: center;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    color: hsl(0, 0%, 0%);
}

.black-key {
    width: 25px;
    height: 100px;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    border: solid hsl(0, 0%, 0%) 2px;
    position: absolute;
    padding: 0;
    margin-left: -12px;
}

.black-keynote {
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}

#lyrics {
    width: 400px;
    height: 240px;
    display: block;
    margin: 0 auto;
    background-color: rgb(27, 171, 255);
    margin-top: 50px;
    padding-left: 20px;
}

#column-one, #column-two, #column-three, #column-four, #column-five, #column-six, #column-optional {
    text-align: center;
    display: inline-block;
    width: 90px;
    margin-top: 30px;
}

#column-optional {
    display: none;
}

#word-one, #word-two, #word-three, #word-four, #word-five, #word-six, #word-optional {
    width: 90px;
    height: 25px;
    padding-top: 10px;
    letter-spacing: 5px;
    color: hsl(0, 0%, 2%);
    background-color: hsl(0, 0%, 100%);
}

#letter-note-one, #letter-note-two, #letter-note-three, #letter-note-four, #letter-note-five, #letter-note-six, #letter-note-optional {
    color: hsl(0, 0%, 100%);
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: 35px;
}


#first-next-line, #second-next-line, #third-next-line, #fourth-next-line {
    width: 80px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    letter-spacing: 1px;
    cursor: pointer;
}