body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 30px;
}

#container {
    background-color: rgb(107, 247, 188);
    height: 800px;
    width: 100vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: rgb(39, 38, 38)
}

p {
    text-align: center;
    color: rgb(41, 80, 252);
    font-weight: 400;
    width: 400px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#color-button, #next-button{
    display: block;
    text-align: center;
    height: 100px;
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: 'Nunito';

}
